1. Number, string and print

In [2]:
2**4

16

In [8]:
5%2 ##check odd

1

In [2]:
#comment

In [3]:
'single quote'

'single quote'

In [4]:
"double quote"

'double quote'

In [5]:
"I can't go" #single quote can be used to keep single quote inside

"I can't go"

In [7]:
num = 12
name = 'Sam'
'My number is {} and my name is {}'.format(num,name) #unm>name accordingly
'My number is {one} and my name is {two}'.format(one=num,two=name) # can make outputs variables

'My number is 12 and my name is Sam'

In [12]:
s = 'abcdefghijk'
s[0:5]    #index starts with 0 in python but does not include 5. it's like[0,5)

'abcde'

In [14]:
s[0:]

'abcdefghijk'

2. List

In [17]:
#Append
['a','b','c']
my_list = ['a','b','c']
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [18]:
#Slice
my_list[1:3]

['b', 'c']

In [20]:
#Reassign values
my_list[0]='New'
my_list

['New', 'b', 'c', 'd']

In [22]:
#Nest
nest = [1,2,[3,4]]
nest[2]

[3, 4]

In [23]:
#Get value in the nested list
nest[2][1]

4

3. Dictionaries

In [25]:
d = {'key1':'1','key2':'2'}
d['key1']

'1'

In [27]:
#Value in dictionaires can be a list
d = {'key':[1,2,3]}
d['key'][0]

1

In [28]:
#Value in dictionaires can be a dictionary
d = {'k1':{'Innerkey':[1,2,3]}}
d['k1']['Innerkey'][2]

3

4. Boolean

In [29]:
True

True

In [30]:
False

False

5. Turples

In [31]:
t = (1,2,3)
t[0]

1

In [33]:
#Difference between List and Turple: you can assign items into list(mutable) but not turple(immutable)
my_list = [1,2,3]
my_list[0] = 'New'
my_list

['New', 2, 3]

In [34]:
t[0]='New'

TypeError: 'tuple' object does not support item assignment

6. Set

In [36]:
#Set can only keep unique items, set is a collection of unique items
{1,1,1,2,2,3}

{1, 2, 3}

In [37]:
#Can use set function to get unique items,returns to a set
set([1,1,1,2,2,2,5,5,5,6])

{1, 2, 5, 6}

In [39]:
#Add item to set
s = {1,2,3}
s.add(5)
s

{1, 2, 3, 5}

7. Comparison Operators

In [42]:
1>2

True

In [43]:
1=1

SyntaxError: cannot assign to literal (<ipython-input-43-c59fb5224dc0>, line 1)

In [44]:
1 == 1

True

8. Loop

In [45]:
seq = [1,2,3,4,5]
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [46]:
i = 1
while i < 5:
    print('i is : {}'.format(i))
    i = i + 1

i is : 1
i is : 2
i is : 3
i is : 4

In [47]:
for x in seq:
    print(x)

1
2
3
4
5

In [5]:
range(0,5)

range(0, 5)

In [49]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [50]:
for x in list(range(0,5)):
    print(x)

0
1
2
3
4

In [51]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [6]:
x = [1,2,3,4]

In [7]:
out = []

for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [15]:
#List  comprehension

out = [num**2 for num in x]
print(out)

[1, 4, 9, 16]

Functions

In [16]:
def my_function(param1):
    print(param1)

In [17]:
my_function('hello world')

hello world

In [20]:
def my_function(name):
    print('Hello ' + name)

In [21]:
my_function('Geoffery')

Hello Geoffery

In [22]:
def square(num):
    """"
    This is a docstring.
    can go multiple lines
    this function  suqares a number
    """
    return num**2

In [24]:
output = square(2)

In [25]:
output
## When return to a value, the result can be stored; but print cannot be stored

4

In [26]:
square
# When shit + tab, can show the  documentation string

In [27]:
def times2(var):
    return var*2

In [28]:
times2(5)

10

In [29]:
seq = [1,2,3,4,5]

In [32]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [35]:
t = lambda var:var*2

In [36]:
t(6)

12

In [37]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [38]:
#lamda + map function
# map(function,list)
#lamda var:calculation logic

In [43]:
list(filter(lambda num:num%2 == 0,seq))

[2, 4]

In [44]:
#list(fuction,list)  >>>function gives a T/F, the True one is the one to keep

In [45]:
s= 'hello my name is Sam'

In [47]:
#tab to get all the available methods
s.lower()

'hello my name is sam'

In [48]:
s.upper()

'HELLO MY NAME IS SAM'

In [49]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [50]:
tweet = 'Go Sports! #Sports'

In [53]:
tweet.split('#')[1]

'Sports'

In [54]:
d = {'k1':1,'k2':2}

In [55]:
d.keys()

dict_keys(['k1', 'k2'])

In [56]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [57]:
d.values()

dict_values([1, 2])

In [58]:
#dictionary does not have an order

In [63]:
lst = [1,2,3]

In [64]:
lst.pop() #default setting would drop the last item and return to the last item, the update to list is perminant

3

In [71]:
lst = [1,2,3,4,5]

In [72]:
item = lst.pop()

In [73]:
item

5

In [74]:
first = lst.pop(0) # can drop the first item

In [75]:
lst

[2, 3, 4]

In [76]:
first

1

In [77]:
'x' in [1,2,3]

False

Turple Unpacking

In [78]:
x = [(1,2),(3,4),(5,6)]

In [79]:
x[0][1]

2

In [80]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [82]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6